# Examples for environment variables in different servers, added just for demonstration purposes.
SERVERSC6_HOST=10.100.100.xxx
SERVERSC6_USER=user
SERVERSC6_PASSWORD=123
SERVERSC6_DATABASE=db
SERVERSC6_PORT=3306

SERVERSC3_HOST=10.100.100.yyy
SERVERSC3_USER=user
SERVERSC3_PASSWORD=456
SERVERSC3_DATABASE=db2
SERVERSC3_PORT=3306
