# Examples for environment variables in different servers, added just for demonstration purposes.
SERVERSC6_HOST=...
SERVERSC6_USER=...
SERVERSC6_PASSWORD=...
SERVERSC6_DATABASE=...
SERVERSC6_PORT=3306

SERVERSC3_HOST=...
SERVERSC3_USER=...
SERVERSC3_PASSWORD=...
SERVERSC3_DATABASE=...
SERVERSC3_PORT=3306
